<% content_for :title do %>Contact Backlog<% end %>

<h1>Contact Backlog</h1>

<p>Future home of the 'Contact' page</p>

<p>Here's how to get in touch with us:</p>

<ul>
  <li>Email: somebody@example.com</li>
  <li>Phone: +1 585 555 1212</li>
  <li>Snail Mail: 123 Sesame Street, Anytown, NY 12345</li>
</ul>

<p>Thanks for your support!</p>